:root {

	/* Colors: */
	--white: #fff;
    --black: #000;
    --secondary-black: #111;
    --third-black: #333;
    --light-gray: #f3f3f3;
    --normal-gray: #f8f8f8;
    --dark-red: #870000;
    --dark-gray: #717171;
    --border-gray: #dcdcdc;
    --black-gray: #333;

	/* Font/text values */
	--font-size-12: 12px;
	--font-size-13: 13px;
	--font-size-14: 14px;
	--font-size-15: 15px;
	--font-size-18: 18px;
	--font-size-19: 19px;
	--font-size-20: 20px;
	--font-size-22: 22px;
	--font-size-24: 24px;
	--font-size-26: 26px;
	--font-size-28: 28px;
	--font-size-30: 30px;
	--font-size-32: 32px;
	--font-size-40: 40px;
	--font-size-42: 42px;
	--font-size-45: 45px;
	--font-size-48: 48px;
	--font-size-56: 56px;
	--font-size-60: 60px;
	--font-size-64: 64px;
	--font-size-72: 72px;
	--font-size-80: 80px;
	
	--font-lato: "Lato";

}



